node_modules/
dist/
build/
uploads/
babyeyipro2.0/
*.zip
*.log
.env
*.sql
*.exe
*.rar

# Ignore binary assets by default
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.webp

# Allow static assets in any public folder
!**/public/*
